$color-primary:rgba(213, 111, 159, 0.6);
$color-sec:rgba(209, 38, 52, 0.6);
$color-grey:#777;
$color-black:#000;
$color-white:rgb(253, 253, 253);
$color-grey-light-2:#867d7d;
$color-grey-dark:#353030;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
