.header {
    height: 90vh;
    background-image: linear-gradient(to right bottom, rgba(213, 111, 159, 0.6), rgba(209, 38, 52, 0.6)), url(../image/img/index-h.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); }
    .header-store{
      height: 90vh;
      background-image: linear-gradient(to right bottom, rgba(200, 234, 74, 0.6), rgba(206, 135, 6, 0.6)), url(../image/img/store-h.jpg);
      background-size: cover;
      background-position: top;
      position: relative;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); }
      .header-studio{
        height: 90vh;
        background-image: linear-gradient(to right bottom, rgba(11, 231, 30, 0.6), rgba(132, 237, 245, 0.6)), url(../image/img/studio-h.jpg);
        background-size: cover;
        background-position: top;
        position: relative;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); }
    .header__logo-box {
      position: relative;
      top: 4rem;
      left: 4rem; }
    .header__logo {
      height: 3.5rem; }

    .header__text-box {
     position: relative;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center; }
      .heading-primary {
        color: #fff;
        text-transform: uppercase;
        backface-visibility: hidden;
        margin-bottom: 6rem; }
        .heading-primary--main {
          display: block;
          font-size: 6rem;
          font-weight: 400;
          letter-spacing: 3.5rem;
          animation-name: moveInLeft;
          animation-duration: 1s;
          animation-timing-function: ease-out;
          /*
              animation-delay: 3s;
              animation-iteration-count: 3;
              */ }
        .heading-primary--sub {
          font-family: 'Varela Round', sans-serif;
          display: block;
          font-size: 2rem;
          font-weight: 700;
          letter-spacing: 1.5rem;
          animation: moveInRight 1s ease-out; }
      
        
          *,
          *::after,
          *::before {
            margin: 0;
            padding: 0;
            box-sizing: inherit; }
            
    
          
          /* .header {
            height: 95vh;
            background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
            background-size: cover;
            background-position: top;
            position: relative;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); } */
           