.main-s{
    height: 95vh;
    width: 100%;
    background-image:  linear-gradient(to right bottom, rgba(185, 181, 183, 0.459), rgba(115, 215, 245, 0.404)), url(../image/img/8.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    padding: 1rem;
    display: table;
    border-radius: 1rem;
}
.sidebar{

    width: 10%;
    height: 95vh;
    background-color: #e783baa2;
    float: left;
    display: table-cell;
    border-radius: 2rem;
}
.studio-container{
    width: 89%;
    height: 95vh;
    // background-color: #8f9394ab;
    display: table-cell;
    float:left;
    margin-left: 1%;
    border-radius: 2rem;
}
.studio-footer{
    width: 100%;
    top: 82%;
    background: none;
    position: absolute
}
.beeds-container{
    width: 42%;
    top: 75%;
    left: 50%;
    transform: translate(50%, 50%);
    cursor: pointer;
    
}
.beeds-container:hover{
    // opacity: 0.8;
}
.popup-container-neckles{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 90%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    border-radius: 3px;
    display: table;
    
    // overflow: hidden;

    // transform: translate(-50%, -50%) scale(.25);
    // transition: all .5s .2s;
}
.popup-container-beeds{
    position: absolute;
   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 90%;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    // display: none;

}
.item-card{
    display: table-cell;
   
    padding: 2rem;
    margin-right: 3rem;
    float:left;
    position: absolute;
    z-index: 9999;
    background-image:linear-gradient(to right bottom, rgba(213, 111, 159, 0.6),
    rgba(209, 38, 52, 0.6));
    flex-wrap: wrap;
    border-radius: 2rem;
      overflow: auto;  
                }

 .item-card-bed {
    display: table-cell;
   
    padding: 2rem;
    float:left;
    z-index: 1;
  

}
.beeds-pop{
    width: 100%;
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
 border-radius: 2rem;
   overflow: auto;


}
.myModal{
    width: 50%;
    height: 40%;
    left: 34%;
    top: 5%;
    display: none;
    visibility: visible;
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    // background-color: rgb(0,0,0); /* Fallback color */
    // background-color: rgba(0,0,0,0.4);
}
.modal-content{
    background: none;
    
    margin: auto;
    padding: 20px;
    border: none;
    -webkit-box-shadow:none;
    width: 90%;

}
.btn--beed{
    text-align: center;
    font-size: 1.6rem;
    width: 25%;
    height: 100%;
}
#beeds{
    padding: 2%;
    width: 20%;
    height: 40%;
    display: block;
}
.hover:hover {
    transform: translateY(-1rem);
    opacity: 0.85;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .hover:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
#popup{
    display: none;
}
#myDesing{
    display: none; 
    font-size: 2rem;
    color: black;
    text-align: center;
}
#box-des{
    position: absolute;
    border-radius: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 70%;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
}
.mystyle{
    height: 80% !important;
    width: 60% !important;
    max-height: 85%;
    border-radius: 60%;
   
}
.bt-cards{
// width: 60%;
// background-color: white
}

    #cards:hover {
        transform: translateY(-1rem);
        opacity: 0.85;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
        #cards:hover::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0; }

 .glyphicon .glyphicon-share-alt {
     width: 150%;
 }        
